//首页菜单侧边栏宽度
$base-menu-width: 220px;
//首页菜单侧边栏背景颜色
$base-menu-bgc: #001529;
//顶部导航的高度
$base-tabbar-height: 50px;
$base-menu-logo-height: 50px;
//左侧slide的菜单折叠宽度
$base-menu-min-width: 50px;
//左侧logo文字字体大小
$base-logo-title-fontSize: 20px;